.contents{
  &__post{
    height:50vh;
    margin: 2vh 0 0 0;
    background: gray;
  }
}
.info__container {
  text-align: center;
  &__materials {
    display: flex;
  }
  ul{
    li{
      padding: 2.5vh 0 2.5vh 0;
    }
  }
}
ul.info__container__materials.show {
  display: flex;
  justify-content: flex-end;
  li{
    margin:0 0 0 1vw;
  }
}
.material_caption{
  padding: 1vh;
  background: white;
  margin-bottom: 1vh;
}
